name: Deploy to Rocky Linux

on:
  push:
    branches: [ main ] # main 브랜치에 push될 때 실행

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 2222
          script: |
            cd /srv/survey-platform/survey-platform
            git pull origin main
            source venv/bin/activate
            pip install -r requirements.txt
            python manage.py migrate
            # 수정된 서비스 재기동 명령어!
            sudo systemctl restart survey